* {
	font-size: large;
}

.app {
	background-color: #300;
	min-height: 100vh;
	color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input,
button {
	margin: 0.25rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #ddd;
	border: none;
}

*:focus {
	outline: 1px solid #aaa;
}

input {
	background-color: #222;
}

button {
	background-color: #444;
	cursor: pointer;
}

button:hover {
	background-color: #555;
}

.flex-col {
	width: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
