html {
	font-size: large;
}

body {
	margin: 0;
	padding: 0;
	background-color: #334;
	color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
}

nav {
	background-color: #223;
}

a {
	text-decoration: none;
}

h3 {
	margin-bottom: 1.25rem;
}

#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#toast-portal,
#modal-portal {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#toast-portal {
	padding: 0.5rem;
	gap: 0.5rem;
}
#modal-portal {
	align-items: center;
}

.fullscreen-modal {
	width: 100%;
	height: 100%;
	background-color: #0007;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: auto;
}

.box {
	max-width: 500px;
}
.wide-box {
	max-width: 800px;
}
.box,
.wide-box {
	background-color: #445;
}
.modal-box {
	width: 100%;
	max-width: 600px;
	height: fit-content;
	align-self: center; /* Not sure why this is needed.. */
	margin: 2rem;
}
