html {
	font-size: large;
}

body {
	margin: 0;
	padding: 0;
	background-color: #334;
	color: #eee;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
}

nav {
	background-color: #223;
}

.box {
	max-width: 600px;
}

.wide-box {
	max-width: 800px;
}

.box,
.wide-box {
	background-color: #445;
}

a {
	text-decoration: none;
}
