html {
	font-size: large;
}

body {
	margin: 0;
	padding: 0;
	background-color: #334;
	color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
}

nav {
	background-color: #223;
}

a {
	text-decoration: none;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#toast-portal {
	max-width: 100%;
	position: fixed;
	padding: 3rem 0.5rem;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* pointer-events: none; */
	gap: 0.5rem;
	max-height: 100%;
	overflow: hidden;
}

.box {
	max-width: min(600px, 100%);
}
.wide-box {
	max-width: min(800px, 100%);
}
.box,
.wide-box {
	background-color: #445;
}
